
/* ========================== GLOBAL STYLES ========================== */

.songScoreForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#sidebar {
  margin-left: -250px;
  min-width: 250px;
  max-width: 250px;
  background: rgb(14, 13, 13);
  min-height: 100vh;
  color: #fff;
  transition: all 0.3s;
  position: fixed; 
  z-index: 5;
}

.navbar.fixed-bottom {
  z-index: 10; 
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 20px;
  background: rgb(0, 186, 61)
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: black;
  background: #fff;
  transition: 0.3s;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: rgb(26, 25, 25)
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: rgb(26, 25, 25)
}

#sidebar.active {
  margin-left: 0;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid rgb(26, 25, 25)
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#pageContent {
  max-width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  flex: 1;
  text-align: center;
  padding: 1vmin;
}

#testRow {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.custom-hover:hover {
  color: black !important; 
}

.text-success1 {
  color: rgb(0, 186, 61) !important;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vmin;  
  height: 40vmin;  
  padding: 2vmin;
  background-color: black;
  /* border: solid 1px rgb(0, 186, 61);  */
  border-radius: 2vmin;
  margin: 3vmin;
  margin-bottom: 5vmin;
  position: relative; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Card:hover {
  transform: scale(1.02);
  transition: 0.25s;
 }

.Card h3 {
  color: rgb(0, 186, 61);
}

.Card * {
  margin: .2rem auto; 
}

.game-row {
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
}

.equal-width-button {
  width: calc(50% - 2vmin); 
  margin-right: 2vmin;
}

.dashContainer {
  overflow-x: auto;
  white-space: nowrap;
}

.roundContainer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 100vmin;
}

.profilePhoto {
  width: 25vmin;
  height: 25vmin;
  border-radius: 50%;
  border: solid 1vmin rgb(0, 186, 61);
  object-fit: cover;
  object-position: center; /* Center the image within the frame */
  overflow: hidden; /* In case something spills out */
}

.miniPhoto {
  width: 15vmin;
  height: 15vmin;
  border-radius: 50%;
  border: solid 2px rgb(0, 186, 61);
  margin: 1vmin;
  object-fit: cover;
  object-position: center; /* Center the image within the frame */
  overflow: hidden; /* In case something spills out */
}

hr {
  height: 1.5vmin;
  border: rgb(0, 186, 61) solid 1px;
  background-color: rgb(0, 186, 61);
}

.customHr {
  width: 100%;
  max-width: 100%;  
  height: .5vmin;
  background-color: rgb(0, 186, 61);
  margin: 3vmin auto;
}



.hidden {
  display: none !important;
}

.modalStyle {
  /* background-color: rgb(14, 13, 13) !important; */
  background: linear-gradient(112.1deg, rgb(12, 22, 18) 50.4%, rgb(30, 55, 46) 70.2%);

  /* border: solid 1vmin rgb(0, 186, 61) !important; */
  box-shadow: 0 0 50vmin black !important;
  margin-bottom: 15% !important;
}

.navBarIcons:hover {
  transform: scale(1.1);
  transition: 0.25s;
 }

button {
  transition: 0.3s !important;
}

.modal-title {
  color: rgb(0, 186, 61) !important;
}

h1 {
  color: rgb(0, 186, 61) !important;
}

.iconLogo {
  display: inline;
  width: 10vmin;
  height: 9vmin;
}

.tinyLine {
  width: 95%;
  height: .2vmin;
  background-color: white;
}

/* ========================== MOBILE STYLES ========================== */

@media (max-width: 768px) {
  /* #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  } */

  .Card {
    width: 40vmin;  
    height: 40vmin;  
    padding: 2vmin;
    background: linear-gradient(112.1deg, rgb(27, 49, 39) 30.4%, rgb(37, 69, 57) 70.2%);
  }

  .profilePhoto {
    width: 25vmin;
    height: 25vmin;
  }

  .carouselTitle {
    margin-top: 5vmin;
  }
  
  .inputBox {
    width: 100% !important;
  }

}

/* ========================== TABLET STYLES ========================== */

@media (min-width: 769px) and (max-width: 1024px) {

  .carouselTitle {
    margin-top: 4vmin;
  }
  

}


/* ========================== DESKTOP STYLES ========================== */

@media (min-width: 1024px) {

  .Card {
    width: 22vmin;  
    height: 22vmin;  
    padding: 2vmin;
    background: linear-gradient(112.1deg, rgb(10, 35 , 20) 30.4%, rgb(20, 60, 48) 70.2%);
  }

  .profilePhoto {
    width: 15vmin;
    height: 15vmin;
    border: solid .6vmin rgb(0, 186, 61);
  }

  .carouselTitle {
    margin-top: 1vmin;
    font-size: 3vmin !important;
  }

  .fiftyWidth {
    width: 50%;;
  }

  .container {
    flex-grow: 1;

  }

  .allGamesButtons {

  }

  .spotifyPlayer {
    padding: 0 50vmin;
  }

  .equal-width-button {
    width: 25%;
    margin-right: 1%;
  }

  .inputBox {
    width: 20% !important;
  }

  .songScoreForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }


}


