.MainApp {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-template-rows: 1fr;
  background-color: black;
}

.MainApp aside {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  margin: 3vmin 2vmin;
  gap: 2rem ;

}

.MainApp section {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  margin: 3vmin 2vmin;
  background-color: grey;
  border-radius: 2vmin;
}

.Dash-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.Dash-Row {
  display: flex;
  flex-direction: row;
  margin: 1vmin;
  gap: 1vmin;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;  /* Ensures this element doesn't grow beyond its container */
}

.Dash-Row > * {
  flex-shrink: 0;  /* Prevents items from shrinking */
}
.Footer {
  color: white;
}