
/* ========================== GLOBAL STYLES ========================== */

main {
  background-color: black;
  color: white;
}

.light {
  color: white;
}

.darkCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  text-align: center;
}

.dark {
  background-color: black;
}

.authMargin {
  margin: 10% 10%;
}

a {
  text-decoration: none!important;
  color: white!important;
}





/* ========================== MOBILE STYLES ========================== */

@media (max-width: 768px) {
  .authMargin {
    margin: 10% 10%;
  }
}


/* ========================== TABLET STYLES ========================== */

@media (min-width: 769px) and (max-width: 1024px) {

}


/* ========================== DESKTOP STYLES ========================== */

@media (min-width: 1024px) {
  .authMargin {
    margin: 5% 35%;
  }

}





