main {
  background-color: black;
  color: white;
}

.light {
  color: white;
}


.darkCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  text-align: center;
}

.dark {
  background-color: black;
}

.authMargin {
  margin: 10% 10%;
}

a {
  text-decoration: none!important;
  color: white!important;
}


/* .MainApp {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-template-rows: 1fr;
  background-color: black;
}

.MainApp aside {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  margin: 3vmin 2vmin;
  gap: 2rem ;

}

.MainApp section {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  margin: 3vmin 2vmin;
  background-color: grey;
  border-radius: 2vmin;
}

.Dash-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.Dash-Row {
  display: flex;
  flex-direction: row;
  margin: 1vmin;
  gap: 1vmin;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;  
}

.Dash-Row > * {
  flex-shrink: 0;  
}
.Footer {
  color: white;
} */