.GameCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vmin;
  height: 20vmin;
  background-color: darkgray;
  border-radius: 2vmin;
  padding: 1vmin;
}

.GameCard * {
margin: .5rem auto; 
}