.QuickNavCircle {
  height: 50px;
  border-radius: 50%;
  background-color: white;
  color: black;
  display: inline-flex;
  width: 10vmin;
  height: 10vmin;
  justify-content: center;
  align-items: center;
}

.QuickNavBox {
  display: flex;
  background-color: grey;
  border-radius: 2vmin;
  justify-content: space-evenly;
  padding: 1vmin;
  gap: 1vmin;
}



